@charset "utf-8";

#top-page {
    margin: 0;
}

.header-nav {
    padding: 10vw;
}

.container {
    margin: 0 3vw 0 10vw ;
}

.site-title {
    font-size: 13vw;
    font-family: 'Bitter', serif;
    color: #ffcccc;
    line-height: 1;
    margin-bottom: 10vw;
}

.message {
    margin: 0 5vw 5vw 0;
}


.logo {
    margin-bottom: 3vw;
}

.nav-item {
    font-size: 5vw;
}