@charset "utf-8";

#top-page {
    background-image: url(../images/bg-photograph-sp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
}

/* container */
.container {
    margin: auto auto 5rem 5rem;
}

.site-title {
    font-size: 9rem;
    font-family: 'Bitter', serif;
    color: #ffffff;
    line-height: 1;
    margin-bottom: 5rem;
}

.message {
    font-size: 1.5rem;
    font-family: 'Bitter', serif;
    color: #ffffff;    
    margin-bottom: 3rem;
}

.link-btn {
    padding: .8em;
    border-radius: .5em;
    border-color: dodgerblue;
    background-color: dodgerblue;
    color: whitesmoke;
    font-size: 1.6em;
    font-weight: 600;
    font-family: 'Bitter', serif;
}

.link-btn:hover {
    color: dodgerblue;
    background-color: #ffffff;
}